* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 3000px;
    margin-top: 50px;
}

/* header {
    background-color: black;
    position: sticky;
    top: 0;
}

h1 {
    color: white;
}

#qc {
    height: 250px;
    background-color: yellow;
} */

#box {
    background: red;
    /* width: 200px;
    height: 100px; */
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    opacity: 0.4;
}
