* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-color: gold; */
    height: 6000px;
    background-color: #F5F5F5;
}

.cls {
    clear: both;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-15 {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 550;
    display: inline-block;
}

li {
    list-style: none;
}

#wrapper {
    margin: 0px auto;
}

#wrapper-header {
    background: #FA5230;
}

header {
    max-width: 1200px;
    margin: 0px auto;
}

#first-header .p1-first-header {
    float: left;
    width: 50%;
}

#first-header .p2-first-header {
    float: right;
    width: 50%;
    
}

#first-header .p1-first-header li {
    float: left;
    padding-right: 15px;
    margin-top: 5px;
}

#first-header .p2-first-header li {
    float: left;
    padding-right: 15px;
    margin-top: 5px;
}

#first-header .p2-first-header ul {
    padding-left: 53%;
}

#second-header {
    margin-top: 20px;
}

#logo i{
    font-size: 35px;
    color: #fff;
}

#logo {
    float: left;
    width: 10%;
}

#search {
    float: right;
    width: 90%;
}

#search input {
    width: 81%;
    margin: 0 3em;
    height: 40px;
    border: none;
    border-radius: 2px;
    outline: none;
    position: relative;
    padding-left: 15px;
    font-size: 20px;
}

#search i {
    position: absolute;
    top: 4px;
    top: 11.3%;
    right: 22%;
    color: #FA5230;
}

#end-header {
    
}

#end-header li{
    float: left;
    padding-right: 15px;
    margin: 2px 0px 3px;
}

#end-header li:first-child {
    margin-left: 14%;
}

#main-section {
    max-width: 1200px;
    margin: 0px auto;
}

#sale {

}

#first-sale {
    float: left;
    width: calc(200%/3);
    border: 1px solid red;
    height: 200px;
    background-color: aquamarine;
}

#last-sale {
    float: right;
    width: calc(100%/3);
    border: 1px solid red;
    height: 200px;
}

#p-last-sale {
    height: 100px;
    border: 1px solid black;
    background-color: rebeccapurple;
}

#suggest {

}

#suggest .circle-suggest{
    width: calc(100%/10);
    border: 1px solid blue;
    display: inline-block;
    height: 70px;
    float: left;
    background: #ddd;
}

#page-ads {
    height: 100px;
    background-color: #F05632;
    border: 1px solid rgb(12, 206, 141);
}

#super-sale {
    background-color: #8CE1CA;
    height: 400px;
    position: relative;
}

#sub-super-sale {
    background-color: #FFEBDA;
    height: 340px;
    width: 90%;
    margin: 0px auto;
    position: relative;
}

#sub-super-sale .super-sale-goods {
    width: calc(100%/6);
    border: 1px solid purple;
    display: inline-block;
    float: left;
    height: 60%;
    background-color: #F05632;
}

#list-goods {

}

#list-goods li{
    width: calc(100%/10);
    height: 110px;
    border: 1px solid orchid;
    float: left;
    background: #AD002C;
}

/* #flash-sale {
    background-color: #fff;
} */

#flash-sale li {
    width: calc(100%/6);
    height: 200px;
    border: 1px solid #DA5356;
    float: left;
    background: #89DDC7;
}

#add-ads {
    
}

#add-ads li {
    width: calc(100%/3);
    border: 1px solid #FA5230;
    height: 100px;
    float: left;
    background-color: #4B4AB2;
}

#shoppe-mall {
    /* border: 1px solid #ddd; */
    /* background-color: #fff; */
}

#first-shopee ul{
    margin: 15px 0px;
}

#first-shopee li{
    display: inline-block;
    padding-right: 20px;
}

#p1-second-shopee {
    float: left;
    width: 30%;
    height: 400px;
    background-color: #FCD2F4;
    border: 1px solid violet;
}

#p2-second-shopee {
    float: right;
    width: 70%;

}

#p2-second-shopee li {
    float: left;
    width: calc(100%/4);
    height: 200px;
    border: 1px solid blueviolet;
    background-color: #333333;
}

#trend-search li{
    float: left;
    width: 25%;
    height: 80px;
    background-color: #B28369;
    border: 1px solid #8CE1CA;
}

#first-search {

}


#first-search li{
    float: left;
    width: calc(100%/6);
    height: 80px;
    background-color: #e71ca4;
    border: 1px solid #000000;
}

#goods li {
    float: left;
    width: calc(100%/6);
    height: 250px;
    background-color: #FF7938;
    border: 1px solid #25f112;   
}

#watch-more {
    margin-top: 30px;
}

#wrapper-more {
    width: calc(100%/3);
    height: 42px;
    margin: 0px auto;
    background-color: rgb(182, 31, 31);
    border: 1px solid #ccc;
}

footer {
    max-width: 1200px;
    margin: 0px auto;
}

#break {
    margin: 60px 0;
    border-top: 5px solid red;
}

#para .parap h1 {

}

#para .parap p {
    font-size: .75rem;
    color: rgba(0,0,0,.54);
    line-height: 1.4;
    margin: 18px 0px;
}

.hr-first {
    margin: 50px 0;
}

#about-shopee .about-general {
    float: left;
    width: 20%;
    border: 1px solid brown;
    background-color: #e71ca4;
    height: 400px;
}

#about-shopee .about-general h1 {
    font-size: .75rem;
    font-weight: 700;
    color: rgba(0,0,0,.54);
    margin-bottom: 15px;
}

#country li {
    display: inline-block;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0,0,0,.54);
}

#copyright {
    float: left;
}

#country {
    float: left;
}









