* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#menu {
    width: 300px;
}

#menu li a {
    background-color: black;
    display: block;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    border-bottom: 1px solid  #333;
    position: relative;
}

#menu li:last-child a {
    border-bottom: none;
}

#menu li a::after {
    content: " ";
    display: block;
    width: 0px;
    height: 0px;
    /* background-color: white; */
    position: absolute;
    right: 10px;
    top: 10px;

    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid transparent;
    border-left: 7px solid green;
} 

/* #box {
    border-width: 70px;
    border-style: solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;

    width: 0px;
    height: 0px;
    margin: 10px auto;
} */
