* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#slider {
    background-color: #f4f4f4;
    width: 500px;
    margin: 20px auto;
    height: 350px;
    border: 1px solid #dadada;
    position: relative;
}

button {
    height: 50px;
    margin-top: -25px;
}

#prev {
    position: absolute;
    top: 50%;
    left: 0;
}

#next {
    position: absolute;
    right: 0px;
    top: 50%;
}