* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    height: 100vh;

    background-color: black;
    background-image: url(./rocket-19684.png), url(https://media.istockphoto.com/vectors/night-sky-with-bright-stars-vector-vector-id540099422?k=6&m=540099422&s=170667a&w=0&h=sZcwoNHCvdnnRhEyuHoWFwaMI32BX5PdjEWO9RvA_CU=);

    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: 200px, auto;
}