* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#box {
    /* width: 500px; */
    height: 350px;
    border: 1px solid black;
    margin: 20px auto;

    /* background-color: yellow;
    background-image: url(./pic01.png);
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-attachment: local;
    overflow: scroll; */

    background: #419D4E url(./pic01.png) no-repeat center;
    background-size: cover;
}